-- Chay lenh tao CSDL truoc
CREATE DATABASE QUANLIGIAOVU_0208
GO
-- Refesh lai CSDL moi lam tiep cac lenh sau
USE QUANLIGIAOVU_0208
GO
-------------------------------------------------
-------------------------------------------------
-- Tao bang + khoa chinh,khoa ngoai
CREATE TABLE KHOA(
	MAKHOA	char(4),
	TENKHOA	varchar(40),
	NGTLAP	smalldatetime,
	TRGKHOA	char(4)
	CONSTRAINT PK_KHOA PRIMARY KEY(MAKHOA)
)

CREATE TABLE MONHOC(
	MAMH	char(10),
	TENMH	varchar(40),
	TCLT	tinyint,
	TCTH	tinyint,
	MAKHOA	char(4),
	CONSTRAINT PK_MH PRIMARY KEY(MAMH)
)

CREATE TABLE DIEUKIEN(
	MAMH		char(10),
	MAMH_TRUOC	char(10),
	CONSTRAINT PK_DK PRIMARY KEY(MAMH,MAMH_TRUOC)
)

CREATE TABLE GIAOVIEN(
	MAGV		char(4),
	HOTEN		varchar(40),
	HOCVI		varchar(10),
	HOCHAM		varchar(10),
	GIOITINH	varchar(3),
	NGSINH		smalldatetime,
	NGVL		smalldatetime,
	HESO		numeric(4,2),
	MUCLUONG	money,
	MAKHOA		char(4),
	CONSTRAINT PK_GV PRIMARY KEY(MAGV)
)

CREATE TABLE LOP(
	MALOP	char(3),
	TENLOP	varchar(40),
	TRGLOP	char(5),
	SISO	tinyint,
	MAGVCN	char(4),
	CONSTRAINT PK_LOP PRIMARY KEY(MALOP)
)

CREATE TABLE HOCVIEN(
	MAHV		char(5),
	HO		varchar(40),
	TEN		varchar(10),
	NGSINH		smalldatetime,
	GIOITINH	varchar(3),
	NOISINH		varchar(40),
	MALOP		char(3),
	CONSTRAINT PK_HV PRIMARY KEY(MAHV)
)


CREATE TABLE GIANGDAY(
	MALOP	char(3),
	MAMH	char(10),
	MAGV	char(4),
	HOCKY	tinyint,
	NAM	smallint,
	TUNGAY	smalldatetime,
	DENNGAY	smalldatetime,
	CONSTRAINT PK_GD PRIMARY KEY(MALOP,MAMH)
)

CREATE TABLE KETQUATHI(
	MAHV	char(5),
	MAMH	char(10),
	LANTHI	tinyint,
	NGTHI	smalldatetime,
	DIEM	numeric(4,2),
	KQUA	varchar(10),
	CONSTRAINT PK_KQ PRIMARY KEY(MAHV,MAMH,LANTHI)
)

-------------------------------------------
-- KHOA 	
ALTER TABLE KHOA ADD CONSTRAINT FK_KHOA FOREIGN KEY(TRGKHOA) REFERENCES GIAOVIEN(MAGV)
-------------------------------------------
-- MONHOC 		
ALTER TABLE MONHOC ADD CONSTRAINT FK_MH FOREIGN KEY(MAKHOA) REFERENCES KHOA(MAKHOA)
-------------------------------------------
-- DIEUKIEN 	
ALTER TABLE DIEUKIEN ADD CONSTRAINT FK01_DK FOREIGN KEY(MAMH) REFERENCES MONHOC(MAMH)
ALTER TABLE DIEUKIEN ADD CONSTRAINT FK02_DK FOREIGN KEY(MAMH_TRUOC) REFERENCES MONHOC(MAMH)
-------------------------------------------
-- GIAOVIEN
ALTER TABLE GIAOVIEN ADD CONSTRAINT FK_GV FOREIGN KEY(MAKHOA) REFERENCES KHOA(MAKHOA)
-------------------------------------------
-- LOP
ALTER TABLE LOP ADD CONSTRAINT FK01_LOP FOREIGN KEY(TRGLOP) REFERENCES HOCVIEN(MAHV)
ALTER TABLE LOP ADD CONSTRAINT FK02_LOP FOREIGN KEY(MAGVCN) REFERENCES GIAOVIEN(MAGV)
-------------------------------------------
-- HOCVIEN
ALTER TABLE HOCVIEN ADD CONSTRAINT FK_HV FOREIGN KEY(MALOP) REFERENCES LOP(MALOP)
-------------------------------------------
-- GIANGDAY
ALTER TABLE GIANGDAY ADD CONSTRAINT FK01_GD FOREIGN KEY(MALOP) REFERENCES LOP(MALOP)
ALTER TABLE GIANGDAY ADD CONSTRAINT FK02_GD FOREIGN KEY(MAMH) REFERENCES MONHOC(MAMH)
ALTER TABLE GIANGDAY ADD CONSTRAINT FK03_GD FOREIGN KEY(MAGV) REFERENCES GIAOVIEN(MAGV)
-------------------------------------------
-- KETQUATHI
ALTER TABLE KETQUATHI ADD CONSTRAINT FK01_KQ FOREIGN KEY(MAHV) REFERENCES HOCVIEN(MAHV)
ALTER TABLE KETQUATHI ADD CONSTRAINT FK02_KQ FOREIGN KEY(MAMH) REFERENCES MONHOC(MAMH)

-------------------------------------------------
-------------------------------------------------
-- Nhap lieu
ALTER TABLE KHOA NOCHECK CONSTRAINT ALL
ALTER TABLE LOP NOCHECK CONSTRAINT ALL
ALTER TABLE MONHOC NOCHECK CONSTRAINT ALL
ALTER TABLE DIEUKIEN NOCHECK CONSTRAINT ALL
ALTER TABLE GIAOVIEN NOCHECK CONSTRAINT ALL
ALTER TABLE HOCVIEN NOCHECK CONSTRAINT ALL
ALTER TABLE GIANGDAY NOCHECK CONSTRAINT ALL
ALTER TABLE KETQUATHI NOCHECK CONSTRAINT ALL

delete from KHOA
delete from LOP
delete from MONHOC
delete from DIEUKIEN
delete from GIAOVIEN
delete from HOCVIEN
delete from GIANGDAY
delete from KETQUATHI

set dateformat dmy
-- KHOA
INSERT INTO KHOA VALUES('KHMT','Khoa hoc may tinh','06/07/2005','GV01')
INSERT INTO KHOA VALUES('HTTT','He thong thong tin','06/07/2005','GV02')
INSERT INTO KHOA VALUES('CNPM','Cong nghe phan mem','06/07/2005','GV04')

-- LOP
INSERT INTO LOP VALUES('K11','Lop 1 khoa 1','K1108',11,'GV07')
INSERT INTO LOP VALUES('K12','Lop 2 khoa 1','K1205',12,'GV09')
INSERT INTO LOP VALUES('K13','Lop 3 khoa 1','K1305',12,'GV14')

-- MONHOC
INSERT INTO MONHOC VALUES('THDC','Tin hoc dai cuong',4,1,'KHMT')
INSERT INTO MONHOC VALUES('CTRR','Cau truc roi rac',5,0,'KHMT')
INSERT INTO MONHOC VALUES('CSDL','Co so du lieu',3,1,'HTTT')

-- DIEUKIEN
INSERT INTO DIEUKIEN VALUES('CSDL','CTRR')
INSERT INTO DIEUKIEN VALUES('CSDL','CTDLGT')
INSERT INTO DIEUKIEN VALUES('CTDLGT','THDC')

-- GIANGDAY
INSERT INTO GIANGDAY VALUES('K11','THDC','GV07',1,2006,'01/02/2006','05/12/2006')
INSERT INTO GIANGDAY VALUES('K12','THDC','GV06',1,2006,'01/02/2006','05/12/2006')
INSERT INTO GIANGDAY VALUES('K13','THDC','GV15',1,2006,'01/02/2006','05/12/2006')

-- GIAOVIEN
INSERT INTO GIAOVIEN VALUES('GV01','Ho Thanh Son','PTS','GS','Nam','05/02/1950','01/11/2004',5,2250000,'KHMT')
INSERT INTO GIAOVIEN VALUES('GV02','Tran Tam Thanh','TS','PGS','Nam','17/12/1965','20/4/2004',4.5,2025000,'HTTT')
INSERT INTO GIAOVIEN VALUES('GV03','Do Nghiem Phung','TS','GS','Nu','08/01/1950','23/9/2004',4,1800000,'CNPM')

-- HOCVIEN
INSERT INTO HOCVIEN VALUES('K1101','Nguyen Van','A','27/1/1986','Nam','TpHCM','K11')
INSERT INTO HOCVIEN VALUES('K1102','Tran Ngoc','Han','14/3/1986','Nu','Kien Giang','K11')
INSERT INTO HOCVIEN VALUES('K1103','Ha Duy','Lap','18/4/1986','Nam','Nghe An','K11')

-- KETQUATHI
INSERT INTO KETQUATHI VALUES('K1101','CSDL',1,'20/7/2006',10,'Dat')
INSERT INTO KETQUATHI VALUES('K1101','CTDLGT',1,'28/12/2006',9,'Dat')
INSERT INTO KETQUATHI VALUES('K1101','THDC',1,'20/5/2006',9,'Dat')

-----------------
ALTER TABLE KHOA CHECK CONSTRAINT ALL
ALTER TABLE LOP CHECK CONSTRAINT ALL
ALTER TABLE MONHOC CHECK CONSTRAINT ALL
ALTER TABLE DIEUKIEN CHECK CONSTRAINT ALL
ALTER TABLE GIAOVIEN CHECK CONSTRAINT ALL
ALTER TABLE HOCVIEN CHECK CONSTRAINT ALL
ALTER TABLE GIANGDAY CHECK CONSTRAINT ALL
ALTER TABLE KETQUATHI CHECK CONSTRAINT ALL
--------------------------------------------------------------
--I.Ngôn ngữ định nghĩa dữ liệu (Data Definition Language):
--1.	Tạo quan hệ và khai báo tất cả các ràng buộc khóa chính, khóa ngoại. Thêm vào 3 thuộc tính GHICHU, DIEMTB, XEPLOAI cho quan hệ HOCVIEN.
ALTER TABLE HOCVIEN ADD GHICHU CHAR(25),DIEMTB INT, XEPLOAI CHAR(5)
--2.	Mã học viên là một chuỗi 5 ký tự, 3 ký tự đầu là mã lớp, 2 ký tự cuối cùng là số thứ tự học viên trong lớp. VD: “K1101

--III. Ngôn ngữ truy vấn dữ liệu:
--1.	In ra danh sách (mã học viên, họ tên, ngày sinh, mã lớp) lớp trưởng của các lớp.
SELECT MAHV, TEN
FROM HOCVIEN HV LEFT JOIN LOP L
ON HV.MAHV=L.TRGLOP

--2.	In ra bảng điểm khi thi (mã học viên, họ tên , lần thi, điểm số) môn CTRR của lớp “K12”, sắp xếp theo tên, Họ học viên.
SELECT HV.MAHV,HO, TEN,LANTHI,DIEM
FROM KETQUATHI KQT JOIN HOCVIEN HV ON HV.MAHV=KQT.MAHV 
	JOIN MONHOC MH ON KQT.MAMH=MH.MAMH
WHERE MH.MAMH='CTRR' AND HV.MALOP='K12'
ORDER BY HV.TEN,HV.HO DESC

--C2:
SELECT H.MAHV,H.HO,H.TEN,K.LANTHI,K.DIEM FROM HOCVIEN H,KETQUATHI K,MONHOC M
WHERE H.MAHV=K.MAHV AND K.MAMH=M.MAMH AND M.MAMH='CTRR' AND H.MALOP='K12'
ORDER BY H.TEN,H.HO DESC

--3.	In ra danh sách những học viên (mã học viên, họ tên) và những môn học mà học viên đó thi lần thứ nhất đã đạt.
select HV.MAHV, HO, TEN,TENMH
from HOCVIEN HV LEFT JOIN KETQUATHI KQT 
	ON HV.MAHV=KQT.MAHV
	 JOIN MONHOC MH ON KQT.MAMH=MH.MAMH
WHERE KQT.LANTHI=1 AND KQUA='DAT'
--c2:
SELECT H.MAHV, H.HO,H.TEN,M.MAMH,M.TENMH FROM  HOCVIEN H,KETQUATHI K,MONHOC M
WHERE H.MAHV=K.MAHV AND K.MAMH=M.MAMH AND K.LANTHI=1 AND K.KQUA='DAT'

--4.	In ra danh sách học viên (mã học viên, họ tên) của lớp “K11” thi môn CTRR không đạt (ở lần thi 1).
SELECT HV.MAHV, HO,TEN
FROM HOCVIEN HV LEFT JOIN KETQUATHI KQT
	ON HV.MAHV=KQT.MAHV
	LEFT JOIN MONHOC MH ON MH.MAMH=KQT.MAMH
WHERE HV.MALOP='K11' AND MH.MAMH='CTRR' AND KQT.LANTHI=1 AND KQT.KQUA='KHONG DAT'

--C2:
SELECT H.MAHV,H.HO,H.TEN FROM HOCVIEN H,KETQUATHI K,MONHOC M
WHERE H.MAHV=K.MAHV AND K.MAMH=M.MAMH AND H.MALOP='K11' AND M.MAMH='CTRR' AND K.KQUA='KHONG DAT' AND K.LANTHI=1

--5*. Danh sách học viên (mã học viên, họ tên) của lớp “K” thi môn CTRR không đạt (ở tất cả các lần thi).
SELECT HV.MAHV, HO,TEN
FROM HOCVIEN HV LEFT JOIN KETQUATHI KQT
	ON HV.MAHV=KQT.MAHV
	LEFT JOIN MONHOC MH ON MH.MAMH=KQT.MAMH
WHERE MH.MAMH='CTRR' AND KQT.KQUA='KHONG DAT'
--6.	Tìm tên những môn học mà giáo viên có tên “Tran Tam Thanh” dạy trong học kỳ 1 năm 2006.
SELECT M.MAMH FROM GIANGDAY GD,GIAOVIEN GV,MONHOC M
WHERE M.MAMH=GD.MAMH AND GD.MAGV=GV.MAGV AND GV.HOTEN='TRAN TAM THANH' AND GD.HOCKY=1 AND GD.NAM=2006
--c2:
SELECT DISTINCT MH.MAMH
FROM MONHOC MH LEFT JOIN GIANGDAY GD
	ON MH.MAMH=GD.MAMH
	LEFT JOIN GIAOVIEN GV ON GV.MAGV=GD.MAGV
WHERE GV.HOTEN='TRAN TAM THANH' AND GD.HOCKY=1 AND GD.NAM=2006;
--7.	Tìm những môn học (mã môn học, tên môn học) mà giáo viên chủ nhiệm lớp “K11” dạy trong học kỳ 1 năm 2006.
SELECT MH.MAMH, TENMH
FROM MONHOC MH JOIN GIANGDAY GD 
	ON MH.MAMH=GD.MAMH
	JOIN LOP L ON L.MALOP=GD.MALOP
	AND MAGV IN (SELECT MAGVCN FROM LOP WHERE MALOP='K11')AND GD.HOCKY=1 AND GD.NAM=2006;
--C2:
SELECT M.MAMH,M.TENMH FROM MONHOC M, GIANGDAY G,LOP L
WHERE M.MAMH=G.MAMH AND G.MALOP=L.MALOP
AND G.MAGV IN(SELECT MAGVCN FROM LOP WHERE MALOP='K11')AND G.HOCKY=1 AND G.NAM=2006

--8.	Tìm họ tên lớp trưởng của các lớp mà giáo viên có tên “Nguyen To Lan” dạy môn “Co So Du Lieu”.
select HV.HO, HV.TEN 
FROM HOCVIEN HV JOIN LOP L ON HV.MAHV=L.TRGLOP
	JOIN GIANGDAY GD ON GD.MALOP=L.MALOP
	JOIN  GIAOVIEN GV ON GV.MAGV=GD.MAGV
	JOIN MONHOC MH ON MH.MAMH=GD.MAMH
WHERE GV.HOTEN='Nguyen To Lan' AND MH.TENMH='Co So Du Lieu'
--C2:
SELECT H.HO,H.TEN FROM LOP L,GIANGDAY G,GIAOVIEN GV,HOCVIEN H
WHERE H.MAHV=L.TRGLOP AND L.MAGVCN=G.MAGV AND G.MAGV=GV.MAGV
AND GV.HOTEN='NGUYEN TO LAN' AND G.MAMH='CSDL'
--9.	In ra danh sách những môn học (mã môn học, tên môn học) phải học liền trước môn “Co So Du Lieu”.
SELECT MH.MAMH, MH.TENMH
FROM MONHOC MH JOIN DIEUKIEN DK ON MH.MAMH=DK.MAMH
	JOIN MONHOC MHDK ON DK.MAMH_TRUOC=MHDK.MAMH
WHERE MHDK.TENMH='Co So Du Lieu'
--c2: sử dụng where join bảng

--10??.	Môn “Cau Truc Roi Rac” là môn bắt buộc phải học liền trước những môn học (mã môn học, tên môn học) nào.
SELECT MHLT.MAMH, MHLT.TENMH
FROM MONHOC MHLT JOIN DIEUKIEN DK ON MHLT.MAMH=DK.MAMH_TRUOC
WHERE DK.MAMH = (SELECT MH.MAMH FROM MONHOC MH
					WHERE DK.MAMH=MH.MAMH AND MH.TENMH='Cau Truc Roi Rac')
	
--c2:
SELECT DISTINCT M.MAMH, M.TENMH  FROM MONHOC M,GIANGDAY G
WHERE M.MAMH=G.MAMH AND (G.HOCKY=2 OR G.HOCKY=3)

--11.	Tìm họ tên giáo viên dạy môn CTRR cho cả hai lớp “K11” và “K12” trong cùng học kỳ 1 năm 2006.
select DISTINCT GV.HOTEN
FROM GIAOVIEN GV LEFT JOIN GIANGDAY GD ON GV.MAGV=GD.MAGV
	LEFT JOIN MONHOC MH ON MH.MAMH=GD.MAMH
	LEFT JOIN LOP L ON GD.MALOP=L.MALOP
WHERE MH.TENMH='Cau Truc Roi Rac' AND (GD.MALOP='K11' OR GD.MALOP='K12');
--C2:
select GV.HOTEN
FROM GIAOVIEN GV LEFT JOIN GIANGDAY GD ON GV.MAGV=GD.MAGV
	LEFT JOIN MONHOC MH ON MH.MAMH=GD.MAMH
	LEFT JOIN LOP L ON GD.MALOP=L.MALOP
WHERE MH.TENMH='Cau Truc Roi Rac' AND GD.MALOP='K11'
INTERSECT 
select GV.HOTEN
FROM GIAOVIEN GV LEFT JOIN GIANGDAY GD ON GV.MAGV=GD.MAGV
	LEFT JOIN MONHOC MH ON MH.MAMH=GD.MAMH
	LEFT JOIN LOP L ON GD.MALOP=L.MALOP
WHERE MH.TENMH='Cau Truc Roi Rac' AND GD.MALOP='K12'
--C3:
SELECT GV.HOTEN FROM GIANGDAY G, GIAOVIEN GV
WHERE G.MAGV=GV.MAGV AND G.MAMH='CTRR' AND (G.MALOP='K11' OR G.MALOP='G12')
--12.	Tìm những học viên (mã học viên, họ tên) thi không đạt môn CSDL ở lần thi thứ 1 nhưng chưa thi lại môn này.
SELECT  H.MAHV,H.HO,H.TEN  FROM HOCVIEN H, KETQUATHI K
WHERE H.MAHV=K.MAHV AND K.MAMH='CSDL' AND K.KQUA='KHONG DAT' 
AND K.LANTHI=1 AND  NOT EXISTS (SELECT LANTHI FROM KETQUATHI WHERE LANTHI=2 OR LANTHI=3)
--13.	Tìm giáo viên (mã giáo viên, họ tên) không được phân công giảng dạy bất kỳ môn học nào.
select GV.HOTEN 
FROM GIAOVIEN GV 
WHERE NOT EXISTS (SELECT GD.MAGV FROM GIANGDAY GD
					WHERE GD.MAGV=GV.MAGV)
--14.	Tìm giáo viên (mã giáo viên, họ tên) không được phân công giảng dạy bất kỳ môn học nào thuộc khoa giáo viên đó phụ trách.